<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
{% extends "layout.html" %}
{% block statics %}
{% load staticfiles %}
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all"/>
<script src="/static/js/jquery-1.11.3.js"></script>
<script src="/static/js/dygraph.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

{% endblock %}
{% block content %}

<div id="welcome">
    <div class="title">
        <h2>Electric Forecasts Dashboard</h2>
        <span class="byline">Navigate to the relevant op area for breakdown</span>
    </div>
</div>

<div id="featured">
    <div class="title">
        <!--<h3>Today's Electric Forecast is: 50kw</h3>-->
    </div>


    <div id="testID" style="width:775px; height:300px;"></div>
    <script>
var opAreas = "{{ opAreas }}"

opAreas = opAreas.replace(/&#39;/g, '');
opAreas = opAreas.replace('[', '');
opAreas = opAreas.replace(']', '');
opAreas = opAreas.replace(/ /g, '');
opAreas = opAreas.split(',');

var sumLoad = [];
for(i = 0; i<168; i++){
	var row = [0, 0, 0];
	sumLoad.push(row);
	}
for(i=0; i<opAreas.length; i++){
	var url = "http://127.0.0.1:8000/data/" + opAreas[i] + "/"
	var dataText;
	var dataArray;
	var xHR = new XMLHttpRequest();
	xHR.open("GET", url, false);
	xHR.send();
	dataText = xHR.responseText;
	dataArray = processData(dataText);
}
drawGraphs(sumLoad);

	function processData(dataText) {
		dataText = String(dataText);
		var allTextLines = dataText.split(/\n/);
		var headers = allTextLines[0].split(',');

		for (var i=1; i<allTextLines.length; i++) {
			var data = allTextLines[i].split(',');
			if (data.length == headers.length) {

				for (var j=0; j<headers.length; j++) {
					if(j==0){
						var dateString = (data[0] + " " + data[1]);
						var date = new Date(dateString)

						sumLoad[i-1][0] = date;
					}
					if(j==2){
						if(!sumLoad[i-1][1]){
							sumLoad[i-1][1]=0;
						}
						sumLoad[i-1][1] = sumLoad[i-1][1] + Number(data[j]);
					}

					if(j==5){
						if(!sumLoad[i-1][2]){
							sumLoad[i-1][2]=0;
						}
						sumLoad[i-1][2] = sumLoad[i-1][2] + Number(data[j]);
					}
				}
			}
		}
	}

	function drawGraphs(load){
		x = document.getElementById("testID");
		new Dygraph(
          document.getElementById("testID"),
          load,
          {
			labels: ["time", "actual load", "forecasted load"],
            title: 'Aggregate Load',
            ylabel: 'Load (MW)',
            legend: 'always',
            labelsDivStyles: { 'textAlign': 'center' },
            showRangeSelector: true,
			rangeSelectorHeight: 30,
          }
      );
	}

    </script>
    {% endblock %}


    <div id="copyright">
        <span>&copy; Untitled. All rights reserved. | Design by <a href="http://templated.co"
                                                                   rel="nofollow">TEMPLATED</a>.</span>
    </div>
</div>
</div>
</div>
</body>
</html>
