<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
{% extends "layout.html" %}
{% block statics %}
{% load staticfiles %}
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
{% endblock %}
		{% block content %}
<body>
   <script src="/static/js/papaparse.js"></script>
   <script src="/static/js/jquery-1.11.3.js"></script>
   <script src="/static/js/dygraph.js"></script>

<!--   <div>
	<input type = "file" id="fileInput">
` </div> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script>
	  
	var opArea = "{{ opArea }}"
	var url = "http://127.0.0.1:8000/data/" + opArea + "/"
	
	function doStuff(data){
		console.log("made it to the callback")
		
		var data = 
			
		
		 $(document).ready(function () {
      new Dygraph(
          document.getElementById("load"),
          data,
          {
            customBars: true,
            title: 'Load for {{ opArea }}',
            ylabel: 'Load (MW)',
            legend: 'always',
            labelsDivStyles: { 'textAlign': 'right' },
            showRangeSelector: true
          }
      );
      new Dygraph(
          document.getElementById("temp"),
          data,
          {
            
            customBars: true,
            title: 'Temperatures for {{ opArea }}',
            ylabel: 'Temperature (F)',
            legend: 'always',
            labelsDivStyles: { 'textAlign': 'right' },
            showRangeSelector: true,
            rangeSelectorHeight: 30,
            rangeSelectorPlotStrokeColor: 'green',
            rangeSelectorPlotFillColor: 'lightgreen'
          });
		  
		  new Dygraph(
          document.getElementById("windSpeed"),
          data,
          {
            
            customBars: true,
            title: 'Wind Speed for {{opArea}}',
            ylabel: 'Wind Speed (mph)',
            legend: 'always',
            labelsDivStyles: { 'textAlign': 'right' },
            showRangeSelector: true,
            rangeSelectorHeight: 30,
            rangeSelectorPlotStrokeColor: 'yellow',
            rangeSelectorPlotFillColor: 'lightyellow'
          });
    }
);
	
	}
	function parseData(url, callback){
		console.log("made it to js")
		Papa.parse(url, {
			download: true,
			dynamicTyping: true,
			complete: function(results){
				callback(results.data);
			}
		});
	}
	
	parseData(url, doStuff)
  </script>
</body>
<div id="load" style="width:600px; height:300px;"></div>
<p><br><br><br></p>
<div id="temp" style="width:600px; height:300px;"></div>
<p><br><br><br></p>
<div id="windSpeed" style="width:600px; height:300px;"></div>
		<div id="welcome">
			<div class="title">
				<p><br><br><br><br></p>
				<h2>{{ pageTitle }}</h2>
				<span class="byline">{{ opArea }}</span>
			</div>
			<p>This is <strong>{{ opArea }}</strong>, showing the contrast between forecasted and actual electrical load</p>
			<ul class="actions">
				<li><a href="#" class="button"></a></li>
			</ul>
		</div>
		<div id="featured">
			<div class="title">
				<h2>Statistics</h2>
				<span class="byline">A quick look at how {{ opArea }} is doing</span>
			</div>
			<ul class="style1">
				<li class="first">
					<p class="date"><a href="#">Jan<b>05</b></a></p>
					<h3>Amet sed volutpat mauris</h3>
					<p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">Jan<b>03</b></a></p>
					<h3>Sagittis diam dolor amet</h3>
					<p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">Jan<b>01</b></a></p>
					<h3>Amet sed volutpat mauris</h3>
					<p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">Dec<b>31</b></a></p>
					<h3>Sagittis diam dolor amet</h3>
					<p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
				</li>
			</ul>
		</div>
		{% endblock %}
		{% block copyright %}
		<div id="copyright">
			<span>&copy; Untitled. All rights reserved. | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
		</div>
		{% endblock %}
	</div>
</div>
</body>
</html>
