from django.contrib.auth.views import login

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="static/js/prefixfree.min.js"></script>
    <title>Electric Forecast Login</title>

</head>

<body>
<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Electric<span>Forecast</span></div>
</div>
<br>

<div id="register" class="login">
    <h2 style="color:white;"><a href="http://127.0.0.1:8000/">Congratulations! Registration successful. Click here to login.</a></h2>
</div>
</body>
</html>
